.slider {
	grid-row: 1 / 2;
	border: 1px solid #000000;
	position: relative;
	overflow: hidden;
}

.slider-in {
	display: flex;
	height: 200px;
	position: relative;
	transition: all 1s linear 0s;
}

.slider-in2 {
    display: flex;
	height: 200px;
	position: relative;
	transition: all 1s ease-in-out 0s;
}

.slider-item {
	border: 1px solid #000000;
}